* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    font-family: sans-serif;
}

section {
    padding: 1rem;
    color: white;
    background-color: gray;
}
